/* GLOBAL */
.hero {
text-align: center;
padding: 100px 20px;
}


.hero h2 {
font-size: 48px;
margin-bottom: 10px;
}


.btn {
margin-top: 20px;
padding: 12px 30px;
background: rgba(255,255,255,0.2);
border: 1px solid white;
backdrop-filter: blur(10px);
color: white;
font-size: 18px;
border-radius: 12px;
cursor: pointer;
transition: 0.3s;
}


.btn:hover {
background: rgba(255,255,255,0.4);
}


/* CARDS */
.cards-section {
text-align: center;
padding: 80px 20px;
}


.cards-section h2 {
font-size: 40px;
margin-bottom: 40px;
}


.cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
padding: 0 40px;
}


.card {
background: rgba(255,255,255,0.15);
border-radius: 20px;
padding: 30px;
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.2);
transition: 0.3s;
}


.card:hover {
transform: translateY(-8px);
background: rgba(255,255,255,0.25);
}


/* FOOTER */
.footer {
text-align: center;
padding: 30px;
opacity: 0.8;
}